/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dd1212;
    padding: 10px 20px;
}

.logo {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #00bcd4;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #f4f4f4;
}

.well{
    color: brown;
}

#para{
    color: rgb(224, 13, 171);
}

.hero h1 {
    font-size: 40px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.hero button:hover {
    background: #e42908;
}

/* Footer */
.footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 15px;
}

.footer p{
    color: #dbd811;
}